#toolbar {
    padding: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
/* support: IE7 */

*+html #toolbar {
    display: inline;
}

label {
    display: block;
}
